<settings>

	<profiles>
		<profile>
			<id>github</id>
			<repositories>
				<repository>
					<id>github</id>
					<name>GitHub TASSIA710 Apache Maven Packages</name>
					<url>https://maven.pkg.github.com/TASSIA710/Kiwi</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<servers>
		<server>
			<id>github</id>
			<username>TASSIA710</username>
			<password>${env.personal_access_token}</password>
		</server>
	</servers>

</settings>
